# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# VS Code settings
.vscode/

# Flask & Python logs
*.log

# Model & vectorizer files
*.pkl

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Build & dist
build/
dist/
*.egg-info/
